{% extends 'base_generic.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="row">
<center style="font-size: 40px;"><strong><br><br><br>Log In</strong></center>
<center> <br>*username : Anthony; pass : tonytony*</center>
<div class="col">
  <center>
  	<form method="post" style="font-size: 22px;">
    	{% csrf_token %}
    	{{ form.as_p }}
  		<button type="submit" id="login-btn" style="font-size: 18px; border: 5px solid #66D8E9; cursor: pointer;">Log In</button>
	</form>
	</center>
	<br><br>
	<center style="font-size: 22px">Belum pernah daftar? <br> Klik <a href="{% url 'signup' %}">Sign Up</a> dulu </center>
</div>
</div>
{% endblock %}