{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Authentication{% endblock %}</title>
</head>
<body style="background-color: #66D8E9; overflow: hidden;">
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>