{% extends 'base_generic.html' %}

{% block title %}Isi{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <center style="margin-top: 5%; font-size: 38px;"><strong>Selamat Datang, {{ user.username }}!</strong></center>
  <center><br><img src="https://imgur.com/MUhP3tG.gif"></center>
  <center><strong style="font-size: 25px;"><a href="{% url 'logout' %}"><br>Keluar</a></strong></center>
{% else %}
  <center><h1>Kamu Belum Login nih..</h1></center>
  <center><h1 style="font-size: 24px">Ayo Log In duluuu!! </h1></center>
  <center><img src="https://imgur.com/vApOiT3.jpg" style="width: 30%;"></center>
  <center><strong><a id="masuk" style="font-size: 30px; color: darkblue; padding-top: 2%;" href="{% url 'login' %}">Log In</a></strong></center>
  <br>
{% endif %}
{% endblock %}