<!-- templates/signup.html -->
{% extends 'base_generic.html' %}


{% block title %}Sign Up{% endblock %}


{% block content %}
<div class="row" >
  	<center><h2 style="font-size: 38px">Sign up</h2></center>
  	<br><br>
  	<form method="post" style="font-size: 26px; margin-left: 10%;">
    {% csrf_token %}
    {{ form.as_p }}
    <center style="margin-left: -10%;"><button type="submit" style="font-size: 26px;">Sign up</button></center>
  	</form>
</div>
{% endblock %}
